<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<ul class="finalItems">
    <br>
    <input type="text" style="max-width:300px" placeholder="Search.." class="form-control" (input)="onSearchChange($event.target.value)">
    <br>
    <table id="customers">
    <div>
        <tr>
            <th id="id">ID</th>
            <th id="name">NAME</th>
            <th id="price">PRICE</th>
            <th id="quantity">QUANTITY</th>
            <th id="sold">CART</th>
            </tr>
    </div>
    <div *ngFor="let item of finalItems">
    <tr>
    <td id="id">{{item.id}}</td>
    <td id="name">{{item.name}}</td>
    <td id="price">{{item.price}}</td>
    <td id="quantity">{{item.quantity}}</td>
    <td id="sold"><button type="button" class="btn btn-success" id={{item.id}} (click)="addtoCart($event)">Add</button></td>
    </tr>
    </div>
    </table>
    <br>
</ul>
