#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  border: 1px solid black;
}
#customers td, th{
  border: 1px solid black;
  text-align: center;
  /* width: 25%; */
}

#name
{
  width: 250px;
}

#price, #quantity
{
  width: 50px;
}

#printData
{
  display: none;
}

#id, #sold, #amount,#inp
{
  width: 50px;
}
#customers tr:hover {background-color: #ddd;}

#customers th {
  text-align: center;
  background-color: #4CAF50;
  color: white;
  /* width: 25%; */
}